.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 200px; /* Set the height to your desired value */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}
/*
#filters {
  position: fixed;
  top: 20;
  left: 0;
  width: 250px;
  height: 80%;
  background: #f8f9fa;
  overflow-y: auto;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

#product-container {
  margin-left: 270px; 
  padding: 20px;
}*/
